* Apache 2
* Python 2.6
* MySQL 5

easy_install django==1.2.4
easy_install bunch==1.0.0
easy_install distribute==0.6.14
easy_install django_clsview==0.0.3
easy_install django_extensions==0.6
easy_install django_localeurl==1.4
easy_install httplib2==0.6.0
easy_install MySQL_python==1.2.3
easy_install oauth2==1.2.0
easy_install PIL==1.1.7
easy_install pip==0.8.1
easy_install pyfacegraph==0.0.7
easy_install python_cjson==1.0.5
easy_install python_memcached==1.47
easy_install simplejson==2.1.1
easy_install South==0.7.3
easy_install URLObject==0.5
easy_install xapian_haystack==1.1.5beta
easy_install django_compressor
